<div class="hor-menu  ">
    <ul class="nav navbar-nav">
        <li aria-haspopup="true">
            <a href="#">
                Dashboard
            </a>
            </li>
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
        </li>
        <li>
            <a href="@Url.Action("Profile","Student")">
                Student Profile
            </a>

        </li>
        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
            @*<a href="@Url.Action("Attendence","Attendence")">
                Attendence
            </a>*@
            <a href="#">
                <span class="arrow">Attendence</span>
            </a>
            <ul class="dropdown-menu">
                <li class="active">
                    <a href="@Url.Action("Attendence","Attendence")" class="nav-link  active">
                        Monthly
                    </a>
                </li>
                <li aria-haspopup="true" class=" ">
                    <a href="@Url.Action("CalendarView", "Attendence")" class="nav-link  ">
                        Calender
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Leave","Attendence")">
                Leave
            </a>
        </li>
        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
            <a href="#">
                <span class="arrow">Result</span>
            </a>
            <ul class="dropdown-menu">
                <li class="active">
                    <a href="@Url.Action("Index","Result",new {exam="MainExam"})" class="nav-link  active">
                        Main Exam
                    </a>
                </li>
                <li aria-haspopup="true" class=" ">
                    <a href="@Url.Action("Index","Result",new {exam="GrandExam"})" class="nav-link  ">
                        Grand Exam
                    </a>
                </li>
            </ul>
        </li>
        <li aria-haspopup="true">
            <a href="@Url.Action("PaymentFees","Fees")">
                Fees
            </a>
        </li>
    </ul>
</div>
