@model IEnumerable<OEMS.Models.Model.AspNetPage>
@{
    Layout = null;
    var g = string.Empty;
    var DashClass = string.Empty;
    var RouteAction = this.Request.RequestContext.RouteData.Values["Action"].ToString();
    var Controller = this.Request.RequestContext.RouteData.Values["Controller"].ToString();
    #region Chack Parent  
    var parentId = 0;
    var Cls = string.Empty;
    var data = Model.Where(e => e.ParentID == 1);
    #endregion
}
<style>
    .nvv{
         background: rgba(252, 122, 82, 0.11) !important;
         border-left: 3px solid #FC7B52 !important;
    }
</style>
@if (Model.Any()) { 
    <ul class="page-sidebar-menu accordion" id="accordion" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start Dashboard">
            <a href="@Url.Action(Model.First().Action, Model.First().Controller)" class="nav-link nav-toggle">
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
     @foreach (var item in Model.Where(e => e.ParentID == 0 && e.IsModule == false).OrderBy(e => e.Displayorder))
     {
         var UrlAction = "#";
         var clas = string.Empty;
         var clas1 = string.Empty;
         if (Model.Any(e => e.ParentID == item.PageID && (e.PageID == parentId)))
         {
             clas = "open-active nvv";
             clas1 = "start active nvv";
         }
            <li class="nav-item student-sub  @clas1 @item.IconClass">
              <div class="link nav-link nav-toggle @clas">
                  @if(item.Controller != null)
                  {
                     UrlAction = Url.Action(item.Action, item.Controller);
                  }
                  <a href="@UrlAction" class="" ><span class="title ">@item.NameOption_En</span>
                  @*<span class="selected"></span>*@
                  @if(Model.Any(e => e.ParentID == item.PageID))
                  {
                      <i class="fa fa-chevron-down"></i>
                  }
                  </a>
                </div>
                @if (Model.Any(e=>e.ParentID==item.PageID))
                {
                    <ul class="sub-menu submenu side-sub">
                        @foreach (var Submenu in Model.Where(e => e.ParentID == item.PageID))
                        {
                            var class1 = string.Empty;
                            if (Submenu.ParentID == item.PageID && Submenu.Action == RouteAction)
                            {
                                class1 = "active";
                            }
                            <li class="nav-item nav-link nav-toggle toggle-main">
                                @if (Submenu.Controller != null)
                                {
                                    UrlAction = Url.Action(Submenu.Action, Submenu.Controller);
                                }
                                <a href="@UrlAction"><span class="title ">@Submenu.NameOption_En</span>
                                    @*<span class="selected"></span>*@
                                    @if (Model.Any(e => e.ParentID == Submenu.PageID))
                                    {
                                        <i class="fa fa-chevron-down"></i>
                                    }
                                </a>
                                @if (Model.Any(e => e.ParentID == Submenu.PageID))
                                {
                                    <ul class="sub-menu submenu side-sub">
                                        @foreach (var SubSubmenu in Model.Where(e => e.ParentID == Submenu.PageID))
                                        {
                                            //var class1 = string.Empty;
                                            //if (Submenu.ParentID == item.PageID && Submenu.Action == RouteAction)
                                            //{
                                            //    class1 = "active";
                                            //}
                                            <li>
                                                <a href="@Url.Action(SubSubmenu.Action,SubSubmenu.Controller)">
                                                    <span class="title ">@SubSubmenu.NameOption_En</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}