
<style>
    span.username.username-hide-mobile {
        display: block;
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }
    ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-closed li.userImg {
        display: none;
    }
</style>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <li class="nav-item userImg" style="text-align:center;margin-bottom:25px">
                <img class="img-circle" width="150" height="150" src="@Url.Action("GetImage","Account")" alt="Alternate Text" />
                <span class="username username-hide-mobile">ID: @User.Identity.Name</span>
            </li>
            <li class="nav-item start active open">
                <a href="@Url.Action("Index","Home")" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Profile","Student")" class="nav-link ">
                    <i class="icon-user"></i>
                    <span class="title">Student Profile</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Status</h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">Attendence</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Attendence","Attendence")" class="nav-link ">
                            <span class="title">Monthly</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("CalendarView", "Attendence")" class="nav-link ">
                            <span class="title">Calendar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Leave","Attendence")" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Leave</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Result</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index","Result",new {exam="MainExam"})" class="nav-link ">
                            <span class="title">Main Exam</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index","Result",new {exam="GrandExam"})" class="nav-link ">
                            <span class="title">Grand Exam</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("PaymentFees","Fees")" class="nav-link ">
                    <i class="icon-docs"></i>
                    <span class="title">Fees</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
