@model UI.WebClients.Models.ForgotPasswordViewModel
@{
    //ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="login-div">
        <div class="logo text-center">
            <img src="~/assets/img/logo/AddieSoft-Logo-01.svg" class="img-fulid" alt="">
        </div>
        <br />
        <h3 class="text-center">Forget Password?</h3>
        <div class="loginHear">
            <div class="fields singin">
                <div class="username">
                    <img src="~/assets/img/logo/mailicon.svg" alt="" />
                    <input name="Email" type="text" class="user-input" placeholder="Email" autocomplete="off" required />
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" hidden>
                <input type="radio" name="SendType" id="SendType" value="Email" checked="checked" />
                <label>Email</label>
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger text-center font-weight-bold" })
        <button class="signin-button" >Reset Via Email</button>

        <div class="Signin-button text-center">
            <h5>No need to reset?<a href="@Url.Action("Login", "Account")"><span> Sign In</span></a></h5>
        </div>
    </div>
}

