@{
    ViewBag.Title = "ClassComments";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
    var SessionId = Request.QueryString["SessionId"];
    var BranchID = Request.QueryString["BranchID"];
    var ShiftID = Request.QueryString["ShiftID"];
    var ClassId = Request.QueryString["ClassId"];

    var SectionId = Request.QueryString["SectionId"];
    var SubjectID = Request.QueryString["SubjectID"];
    var MainExamId = Request.QueryString["MainExamId"];
    var TermId = Request.QueryString["TermId"];
    var SubExamId = Request.QueryString["SubExamId"];

    var SessionName = Request.QueryString["SessionName"];
    var BranchName = Request.QueryString["BranchName"];
    var ShiftName = Request.QueryString["ShiftName"];
    var ClassName = Request.QueryString["ClassName"];

    var SectionName = Request.QueryString["SectionName"];
    var SubjectName = Request.QueryString["SubjectName"];
    var MainExamName = Request.QueryString["MainExamName"];
    var TermName = Request.QueryString["TermName"];
}
<style type="text/css">
    body {
        height: 1000px;
    }

    .table thead tr th {
        font-size: 12px !important;
        color: white !important;
        font-weight: 600 !important;
    }

    #header-fixed {
        position: fixed;
        top: 75px;
        display: none;
        background-color: white;
        width: 74%;
    }
</style>
<div ng-controller="subjectSetup">
    <!-- Begin: life time stats -->
    <div class="card">
        <div class="emp-header">
            @ViewBag.Title
        </div>
        <div class="form-body">
            <form name="frmFilter" novalidate>
                <table class="table table-bordered table-inverse fixed-table-toolbar">
                    <tr>
                        <td style="color:#ff6a00">Session</td>
                        <td>@SessionName</td>
                        <td style="color:#ff6a00">Branch</td>
                        <td>@BranchName</td>
                        <td style="color:#ff6a00">Shift</td>
                        <td>@ShiftName</td>
                    </tr>
                    <tr>
                        <td style="color:#ff6a00">Class</td>
                        <td>@ClassName</td>
                        <td style="color:#ff6a00">Term Name</td>
                        <td> @TermName</td>
                    </tr>
                    <tr>
                        <td style="color:#ff6a00">Main Exam Name</td>
                        <td>@MainExamName</td>
                        <td style="color:#ff6a00">Section :</td>
                        <td>
                            <div ng-class="{ 'has-error' :isSubmitted && frmFilter.SectionId.$invalid }">
                                <select class="form-control" ng-change="getGrade()" name="SectionId" ng-model="StudentExamFilter.SectionId" ng-options="S.SectionId as S.SectionName for S in Sections" required>
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                                <span ng-show="isSubmitted && frmFilter.SectionId.$error.required" class="help-block">Section Required</span>
                            </div>
                        </td>
                        <td colspan="2" style="text-align:right">
                            <button type="submit" ng-click="Search();isSubmitted=true" class="btn btn-info green">Search</button>
                            <a class="btn btn-warning purple" href="#" ng-click="StudentSubWiseReport();isSubmitted=true">Report</a>
                            <button type="reset" class="btn btn-danger red">Reset</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="row" style="margin-right:0 !important">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <div id="sample_3_wrapper " class="dataTables_wrapper no-footer">
                    <table class="table table-bordered table-hover" style="overflow:scroll;width:150%" id="table-1">
                        <thead>
                            <tr class="bg-primary">
                                <th width="10%">Name</th>
                                <th width="5%">ID</th>
                                <th width="5%">Grade</th>
                                <th width="7%">Total Mark</th>
                                <th width="20%" style="text-align:center;">Teacher's Comment</th>
                                <th width="20%" style="text-align:center;">Subject Feedback</th>
                                <th width="20%" style="text-align:center;">Class Teacher's Report</th>
                                <th width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="SubjectSetups.results.length <= 0"><td colspan="12" style="text-align:center; color:orangered"><i class="fa fa-refresh"></i> Data not found!</td></tr>
                            <tr ng-repeat="item in StudentList | orderBy:'FullName'" style="background-color:rgba(245, 204, 88, 0.32);color:#ff6a00">
                                <td>{{item.FullName}}</td>
                                <td>{{item.StudentInsID}}</td>
                                <td>{{item.GradeLetter}}</td>
                                <td>{{item.TotalMark}}</td>
                                <td><textarea type="text" rows="1" ng-model="item.TeacherComments" class="form-control"></textarea></td>
                                <td><textarea type="text" rows="1" ng-model="item.FailSubComments" class="form-control"></textarea></td>

                                @*<td><textarea type="text" ng-model="item.ReportGLComments" class="form-control"></textarea></td>*@
                                <td>
                                    <select ng-model="item.ReportGLComments" class="form-control" ng-options="G.GL as G.GL for G in GradeSetups">
                                        <option value="">Choose Option</option>
                                    </select>
                                </td>
                                <td ng-hide="item.Id==null"><button class="btn blue" ng-click="AddTeacherComment(item.Id,item.StudentIID, item.TeacherComments,item.ReportGLComments,item.FailSubComments)">Update</button></td>
                                <td ng-show="item.Id==null"><button class="btn green" ng-click="AddTeacherComment(item.Id,item.StudentIID, item.TeacherComments,item.ReportGLComments,item.FailSubComments)">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover" id="header-fixed"></table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        OEMSApp.controller("subjectSetup", ["$scope", "$http", "SweetAlert", "blockUI", "$window", "$filter",
              function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                  init();
                  // Initial Methods
                  function init() {
                      initialize();
                      // getSubject();
                      getAllCommons();
                      getMainExam();
                  }
                  function initialize() {

                      $scope.SubjectsetupFilter = {};

                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pagesize = 1000;
                      $scope.total_count = 2000;
                      $scope.search = '';

                      $scope.CommonFeilds = [];
                      $scope.getAllCommons = getAllCommons;
                      $scope.SubjectList = [];
                      $scope.btnDis = false;
                      $scope.StudentExamFilter = {};
                      $scope.StudentExamFilter.SessionId =@SessionId;
                      $scope.StudentExamFilter.TermId =@TermId;
                   
                      $scope.StudentExamFilter.ClassId =@ClassId;
                      $scope.StudentExamFilter.MainExamId =@MainExamId;
                      $scope.StudentExamFilter.ShiftID=@ShiftID;
                      $scope.StudentExamFilter.BranchID=@BranchID;
                      GetSection();
                  }
                  function getMainExam() {
                      $scope.MainExams = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'ExamSetup/GetAllMainExam/'
                      }).then(function successCallback(response) {
                          $scope.MainExams = response.data.results;
                          //console.log($scope.mainExams);
                          // $scope.AspNetRoles = response.data;
                          $scope.total_count = response.data.totalcount;
                          //console.log(response.data);
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });
                  }
                  $scope.AddTeacherComment = function AddTeacherComment(Id,StudentId, Comment, ReportGLComments, FailSubComments)
                  {
                      $scope.Comment = {};
                      $scope.Comment.Id = Id;
                      $scope.Comment.StudentId = StudentId;
                      $scope.Comment.Comment = Comment;
                      $scope.Comment.ReportGLComments = ReportGLComments;
                      $scope.Comment.FailSubComments = FailSubComments;
                      $scope.Comment.MainExamId = $scope.StudentExamFilter.MainExamId;
                      $scope.Comment.TermId = $scope.StudentExamFilter.TermId;
                      blockUI.start();
                      $http({
                          method: 'POST',
                          url: baseUrl + 'StudentInfo/AddClassWiseTeacherComment/',
                          data: $scope.Comment
                      }).then(function successCallback(response) {
                          toastr["info"](response.data.message);
                          $scope.Search();
                          blockUI.stop();

                          //saved
                      }, function errorCallback(response) {
                          if (response.data.message != null)
                          toastr["info"](response.data.message);
                      });
                  }


                  //Reset Form
                  function ResetSource() {
                      $scope.StudentExamFilter = {};
                      $scope.StudentList = [];
                  }



                 function GetSection() {
                      $scope.Sections = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Common/GetSection/' + $scope.StudentExamFilter.SessionId + "/" + $scope.StudentExamFilter.ShiftID + "/" + $scope.StudentExamFilter.ClassId
                      }).then(function successCallback(response) {
                          $scope.Sections = response.data.results;
                      }, function errorCallback(response) {
                          toastr["error"](response.data.Message);
                      });
                  }
                  $scope.Search =function Search()
                  {
                      if ($scope.StudentExamFilter.$invalid == true)
                          return;
                      $scope.LoadStudentList();
                  }
                  $scope.LoadStudentList=function LoadStudentList() {
                      if ($scope.frmFilter.$invalid == true)
                          return;

                      $http.post(baseUrl + 'Student/SearchStudentForTeacherComment/', $scope.StudentExamFilter).
                       then(function (response) {
                           $scope.StudentList = response.data.results;
                       }, function errorCallback(response) {
                           if (response.data.message != null)
                               toastr["info"](response.data.message);
                       });
                  };

                  $scope.getGrade  =  function getGrade() {
                      //if ($scope.formCommonFeilds.$invalid)
                      //    return;
                      $scope.GradeSetups = [];

                      $http({
                          method: 'GET',
                          url: baseUrl + 'Result/GetGradeSetup/' + $scope.StudentExamFilter.SessionId + '/' + $scope.StudentExamFilter.ClassId
                      }).then(function successCallback(response) {
                          $scope.GradeSetups = response.data.results;
                          console.log($scope.GradeSetups);
                          $scope.total_count = response.data.totalcount;
                          if ($scope.pagesize == -1)
                              $scope.pagesize = 500;

                      }, function errorCallback(response) {
                          toastr["info"](response.data.message);
                      });

                  };
                  function getAllCommons() { // Get VSC
                      //$scope.CommonFeilds = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Common/GetCommonItem/'
                      }).then(function successCallback(response) {
                          $scope.CommonFeilds = response.data.results;
                      }, function errorCallback(response) {
                      });
                  }

                  $scope.LoadTerms = function LoadTerms(ClassId) {
                      $http({
                          method: 'GET',
                          url: baseUrl + 'SetupInstitution/GetTermByClassId' + '/' + ClassId
                      }).then(function successCallback(response) {
                          $scope.TermList = response.data.results;
                      }, function errorCallback(response) {
                          if (response.data.message != null)
                              toastr["info"](response.data.message);
                      });
                  }

              }]);
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript">
     var tableOffset = $("#table-1").offset().top;
     var $header = $("#table-1 > thead").clone();
     var $fixedHeader = $("#header-fixed").append($header);

     $(window).bind("scroll", function () {
         var offset = $(this).scrollTop();

         if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
             $fixedHeader.show();
         }
         else if (offset < tableOffset) {
             $fixedHeader.hide();
         }
     });
    </script>
} 