
@{
    ViewBag.Title = "Get Menu Emp";
    Layout = null;
   
}
<ul class="kt-menu__nav">
    <li class="kt-menu__item Dashboard empDash " >
        <a class="kt-menu__link empKtMenu" href="@Url.Action("PortalDashboard","Employee")" data-toggle="tooltip" title="Dashboard">
            
            <span class="kt-menu__link-text">Dashboard</span>
        </a>
    </li>
    <li class="kt-menu__item empProfile">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("EmpProfileView","Employee")" data-toggle="tooltip" title="My Profile">
            
            <span class="kt-menu__link-text">My Profile</span>
        </a>
    </li>

  

   
    <li class="kt-menu__item empRequest" id="EmployeeRequest">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("EmployeeRequest","Employee")" data-toggle="tooltip" title="Employee Request">           
            <span class="kt-menu__link-text">Request</span>
        </a>
    </li>
    <li class="kt-menu__item empRequest" id="EmployeeRequest">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("LeaveApporval","Employee")" data-toggle="tooltip" title="Leave Apporval">
            <span class="kt-menu__link-text">Leave Approval</span>
        </a>
    </li>
    <li class="kt-menu__item empAttendance ">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("EmpAttendance", "Employee")" data-toggle="tooltip" title="EmpAttendance">
           
            <span class="kt-menu__link-text">Attendance</span>
        </a>
    </li>
    <li class="kt-menu__item empNotice">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("EmpNotice", "Employee")" data-toggle="tooltip" title="Notice">
           
            <span class="kt-menu__link-text">Notice</span>
        </a>
    </li>

    @*<li class="kt-menu__item Eca " id="EmpApprisal">
        <a class="kt-menu__link " href="@Url.Action("EmpApprisal", "Employee")" data-toggle="tooltip" title="Apprisal">
          
            <span>Apprisal</span>
        </a>
    </li>

    <li class="kt-menu__item Eca dropdown" id="EmployeeECA">
        <a class="kt-menu__link " href="@Url.Action("EmployeeECA", "Employee")" data-toggle="tooltip" title="ECA">
           
            <span>ECA</span>
        </a>
    </li>*@

    @*<li class="kt-menu__item" id="CS">
            <a class="kt-menu__link " href="@Url.Action("CS", "Employee")" data-toggle="tooltip" title="CS">
                <i class="fas fa-road"></i>
                <span>CS</span>
            </a>
        </li>*@
    @*<li class="kt-menu__item Routine" id="Routine">
        <a class="kt-menu__link " href="@Url.Action("Routine", "Employee")" data-toggle="tooltip" title="Routine">
           
            <span>Routine</span>
        </a>
    </li>*@
    <li class="kt-menu__item  empPayroll">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("Payroll", "Employee")" data-toggle="tooltip" title="Payroll">
          
            <span class="kt-menu__link-text">Payroll</span>
        </a>
    </li>
    @*<li class="kt-menu__item empNotice">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("Issue", "TaskManagementV")" data-toggle="tooltip" title="Notice">

            <span class="kt-menu__link-text">Create Issue</span>
        </a>
    </li>
    <li class="kt-menu__item empNotice">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("IssueBackLog", "TaskManagementV")" data-toggle="tooltip" title="Notice">

            <span class="kt-menu__link-text">BackLog List</span>
        </a>
    </li>*@
    <li class="kt-menu__item empNotice">
        <a class="kt-menu__link empKtMenu" href="@Url.Action("IssueList", "Employee")" data-toggle="tooltip" title="Notice">

            <span class="kt-menu__link-text">Issue List</span>
        </a>
    </li>
    @*<li class="kt-menu__item" id="CS">
        <a class="kt-menu__link " href="@Url.Action("CS", "Employee")" data-toggle="tooltip" title="CS">
            <i class="fas fa-road"></i>
            <span>CS</span>
        </a>
    </li>*@
</ul>

