@using UI.WebClients.Models
<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="OEMS">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OEMS | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Odhyyon Education Management System " name="description" />
    <meta content="Addiesoft Ltd" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <script src="https://kit.fontawesome.com/0701ececad.js" crossorigin="anonymous"></script>
    <!-- page css -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- Core css -->
    <link href="//cdn.odhyyon.com/oms/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="http://cdn.addiesoft.com/newoms/assets/css/app.min.css" rel="stylesheet">
    <link href="http://cdn.addiesoft.com/newoms/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.addiesoft.com/NewOMS/assets/css/media.css">


    


   
   

   
    
  
    
   
    @*<!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="//cdn.odhyyon.com/admin/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="//cdn.odhyyon.com/oms/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="//cdn.odhyyon.com/oms/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />*@
    <link href="//cdn.odhyyon.com/oms/assets/css-oms/style.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)


</head>

<body>
    <div class="app">
        <div class="layout">

            <!-- Header START -->
            <section id="mainnav">
                <div class="header">
                    <div class="logo logo-dark">
                        <a href="index.html">
                            <img src="assets/images/logo/Odhyyon.svg" alt="Logo">
                            <img class="logo-fold" src="assets/images/logo/Odhyyon.svg" alt="Logo">
                        </a>
                    </div>
                    <div class="logo logo-white">
                        <a href="index.html">
                            <img src="assets/images/logo/Odhyyon.svg" alt="Logo">
                            <img class="logo-fold" src="assets/images/logo/Odhyyon.svg" alt="Logo">
                        </a>
                    </div>
                    <div class="nav-wrap">
                        <ul class="nav-left">
                            <li class="desktop-toggle">
                                <a href="javascript:void(0);">
                                    <img src="assets/images/logo/humbarger.png" alt="">
                                </a>
                            </li>
                            <li class="mobile-toggle">
                                <a href="javascript:void(0);">
                                    <img src="assets/images/logo/humbarger.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="scholnameDestop" href="javascript:void(0);" data-toggle="modal" data-target="#search-drawer">
                                    AddieSoft Ltd.
                                </a>
                                <a class="scholnameMobil" href="javascript:void(0);" data-toggle="modal" data-target="#search-drawer">
                                    <img src="assets/images/logo/Odhyyon.svg" alt="">
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <!-- <li class="">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">
                                    <i class="anticon anticon-appstore">setting</i>
                                </a>
                            </li> -->
                            <li class="dropdown dropdown-animated scale-left">
                                <a href="javascript:void(0);" data-toggle="dropdown">
                                    <img src="assets/images/avatars/Announcement.png" alt="">
                                </a>
                            </li>
                            <li class="dropdown dropdown-animated scale-left">
                                <a href="javascript:void(0);" data-toggle="dropdown">
                                    <img src="assets/images/avatars/messaging.png" alt="">
                                </a>
                            </li>
                            <li class="dropdown dropdown-animated scale-left">
                                <a href="javascript:void(0);" data-toggle="dropdown">
                                    <img src="assets/images/avatars/notification.png" alt="">
                                </a>
                                <div class="dropdown-menu pop-notification">
                                    <div class="p-v-15 p-h-25 border-bottom d-flex justify-content-between align-items-center">
                                        <p class="text-dark font-weight-semibold m-b-0">
                                            <i class="anticon anticon-bell"></i>
                                            <span class="m-l-10">Notification</span>
                                        </p>
                                        <a class="btn-sm btn-default btn" href="javascript:void(0);">
                                            <small>View All</small>
                                        </a>
                                    </div>
                                    <div class="relative">
                                        <div class="overflow-y-auto relative scrollable" style="max-height: 300px">
                                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-blue avatar-icon">
                                                        <i class="anticon anticon-mail"></i>
                                                    </div>
                                                    <div class="m-l-15">
                                                        <p class="m-b-0 text-dark">You received a new message</p>
                                                        <p class="m-b-0"><small>8 min ago</small></p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-cyan avatar-icon">
                                                        <i class="anticon anticon-user-add"></i>
                                                    </div>
                                                    <div class="m-l-15">
                                                        <p class="m-b-0 text-dark">New user registered</p>
                                                        <p class="m-b-0"><small>7 hours ago</small></p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-red avatar-icon">
                                                        <i class="anticon anticon-user-add"></i>
                                                    </div>
                                                    <div class="m-l-15">
                                                        <p class="m-b-0 text-dark">System Alert</p>
                                                        <p class="m-b-0"><small>8 hours ago</small></p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 ">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-gold avatar-icon">
                                                        <i class="anticon anticon-user-add"></i>
                                                    </div>
                                                    <div class="m-l-15">
                                                        <p class="m-b-0 text-dark">You have a new update</p>
                                                        <p class="m-b-0"><small>2 days ago</small></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="dropdown dropdown-animated scale-left text-center">
                                <div class="pointer avatarmobil" data-toggle="dropdown">
                                    <div class="avatar avatar-image avatar-imageTop m-h-10 m-r-15">
                                        <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                    </div>
                                    <div class="avatorname">
                                        <p class="m-b-0 text-dark font-weight-semibold">Marshall Nichols</p>
                                    </div>
                                </div>
                                <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
                                    <a href="" class="dropdown-item d-block p-h-15 p-v-10" data-toggle="modal" data-target=".bd-example-modal-lgChangepass">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="assets/images/Icon/Changepassword.svg" alt="">
                                                <span class="m-l-10">Change Password</span>
                                            </div>
                                            <i class="anticon font-size-10 anticon-right"></i>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="assets/images/Icon/logout.svg" alt="">
                                                <span class="m-l-10">Logout</span>
                                            </div>
                                            <i class="anticon font-size-10 anticon-right"></i>
                                        </div>
                                    </a>

                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- Header END -->
                <!---------------Change password--------------->
                <div class="modal fade bd-example-modal-lgChangepass" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content modalPassword">
                            <div class="passwordHead">
                                <p style="margin-bottom: -3px;">An asterisk (<span class="Madatory">*</span>) indicates mandatory fields.</p>
                                <p>Current password and new password cannot be same.</p>
                            </div>
                            <div class="passwordmainBody">
                                <div class="modal-header changepassHead">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Change Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Enter Current Password <span class="Madatory">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="Enter Name" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Enter New Password <span class="Madatory">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="Enter Name" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Confirm New Password<span class="Madatory">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="Enter Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer passwordFooter">
                                    <button type="button" class="btn btn-secondary pPortalclose" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-----Change password---->
                <!---Header Mobile-->
                <div class="header headermobil mt-5">

                    <div class="nav-wrap">
                        <ul class="nav-leftMobil">
                            <li class="navSchool">
                                <a class="scholnameMobilNav" href="javascript:void(0);" data-toggle="modal" data-target="#search-drawer">
                                    Addiesoft Ltd.
                                </a>

                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="dropdown dropdown-animated scale-left text-center">
                                <div class="pointer" data-toggle="dropdown">
                                    <div class="avatar avatar-image avatar-imageTop">
                                        <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                    </div>
                                    <!-- <div class="avatar avatar-image avatar-imageTop ">
                                        <img src="assets/images/avatars/thumb-8.jpg"  alt="">
                                    </div> -->
                                </div>
                                <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
                                    <a href="" class="dropdown-item d-block p-h-15 p-v-10" data-toggle="modal" data-target=".bd-example-modal-lgChangepass">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="assets/images/Icon/Changepassword.svg" alt="">
                                                <span class="m-l-10">Change Password</span>
                                            </div>
                                            <i class="anticon font-size-10 anticon-right"></i>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="assets/images/Icon/logout.svg" alt="">
                                                <span class="m-l-10">Logout</span>
                                            </div>
                                            <i class="anticon font-size-10 anticon-right"></i>
                                        </div>
                                    </a>

                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <!---Header Mobile End-->
            <!-- Side Nav START -->
            <div class="side-nav">
                <div class="side-nav-inner">
                    @Html.Action("GetMenu", "Home")
                </div>
            </div>
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">
                <!-- Content Wrapper START -->
                <div class="main-content">
                    @Html.Action("GetHeaderMenu", "Home")
                    @RenderBody()
                    
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0">Copyright ©2020 Addie Soft Ltd. All rights reserved.</p>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->
            <!-- Search Start-->
            <!-- Search End-->
            <!-- Quick View START -->
            <!-- Quick View END -->
        </div>
    </div>






    <!-- Core Vendors JS -->
    <script src="http://cdn.addiesoft.com/NewOMS/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <!-- <script src="assets/vendors/chartjs/Chart.min.js"></script> -->
    <!-- <script src="assets/js/pages/dashboard-default.js"></script> -->
    <!-- Core JS -->
    <script src="http://cdn.addiesoft.com/NewOMS/assets/js/app.min.js"></script>
    <script src="http://cdn.addiesoft.com/NewOMS/assets/js/custom.js"></script>
    <script src="http://cdn.addiesoft.com/NewOMS/assets/js/menu.js"></script>


    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/jquery.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js" ," type="text/javascript"></script>
    @*<script src="//cdn.odhyyon.com/admin/assets/global/plugins/js.cookie.min.js" ," type="text/javascript"></script>*@
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/jquery.blockui.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>


    @Scripts.Render("~/bundles/modernizr")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("PAGE_LEVEL_PLUGINS", required: false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.js" type="text/javascript"></script>
    @RenderSection("FOR_Dashboard", required: false)
    @*<script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>*@
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="//cdn.odhyyon.com/admin/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!--Test Scripts-->
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/angular.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/angular-resource.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/angular-animate.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/angular-messages.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/ui-bootstrap-tpls-2.5.0.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/dirPagination.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/SweetAlert.min.js" ," type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/angular/lib/angular-block-ui.js" ," type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/angular-datatables.js"></script>
    @*<script src="~/assets/global/plugins/clockface-1.0.1/js/clockface.js"></script>*@
    @*<script src="~/assets/webcamJs/webcam.min.js"></script>*@
    <script src="~/App/app.js" type="text/javascript"></script>
    <script src="~/App/directive.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="//cdn.odhyyon.com/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/angularjs-dropdown-multiselect.min.js"></script>

    <script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/global/plugins/datatables/angular-datatables.js"></script>
    @*<script src="~/assets/global/plugins/select2/js/select2.js"></script>
        <script src="~/assets/global/plugins/select2/js/select2.full.js"></script>*@
    @*<script src="~/assets/pages/scripts/widgets.js"></script>*@

    <script src="//cdn.odhyyon.com/oms/assets/js-oms/custom.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("scriptss", required: false)






    <script type="text/javascript">
    $('.side-nav-menu').on('click', 'li', function(){
        $('.side-nav-menu li.inneractive').removeClass('inneractive');
        $(this).addClass('inneractive');
    })
    </script>

   

    <script type="text/javascript">
    $('.NavhideShow').on('click', 'li', function(){
        $('.stickyNav .navHideActive').removeClass('navHideActive');
        $(this).addClass('navHideActive');
    })
    </script>
    <script>
    $(document).ready(function(){
        $("#menuToggle").click(function(){
            $("#MobileToggle").fadeToggle();
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $("#menuToggle2").click(function(){
            $("#MobileToggle").fadeToggle();
        });
    });
    </script>

    <script>
    $(document).ready(function(){
        $(".Hidemybtn").click(function(){
            $(".Hidemybtn").show();
            $(this).hide();
        });
    });
    </script>

</body>

</html>
