
@{
    ViewBag.Title = "Leave";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-socialshare/2.3.11/angular-socialshare.js"></script>*@
@section Styles{
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <style>
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857;
            vertical-align: top;
            border-top: none;
        }
    </style> 

}
<div class="container">
    <div class="portlet light bordered" ng-controller="ctrlStdLeave">
        @*<input type="hidden" name="StudentIID" ng-model="StudentIID" value="@ViewBag.StdIID" />*@
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-graduation-cap" style="color:white"></i>Student Leave Apply
            </div>
            <div class="actions">
                <div class="btn-group btn-group-solid">
                    <button ng-click="Reset()" class="btn green" data-target="#addmodal" data-toggle="modal"> <i class="fa fa-plus"></i> Apply Leave</button>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <!-- BEGIN LEAVE SAVE-->


            <div ng-cloak>
                <div class="table">
                    <form class="form-horizontal" id="LeaveApply">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Leave Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control" ng-model="Leave.LeaveTypeId" name="month" ng-options="m.LeaveId as m.TypeName for m in LeaveType" required>
                                            <option value="" selected="selected">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">From Date</label>
                                    <div class="col-md-6">
                                        <input class="form-control" required name="From" type="datetime" placeholder="From Date" readonly ng-click="p1=true" is-open="p1" uib-datepicker-popup="dd-MM-yyyy" ng-model="Leave.From" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">To Date</label>
                                    <div class="col-md-6">
                                        <input class="form-control" required ng-change="CalculateDuratoin()" name="To" type="datetime" placeholder="To Date" readonly ng-click="p2=true" is-open="p2" uib-datepicker-popup="dd-MM-yyyy" ng-model="Leave.To" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Duration</label>
                                    <div class="col-md-6">
                                        <input class="col-md-6 form-control" required readonly placeholder="_________ Days" type="text" ng-model="Leave.Duration" name="Duration" id="Duration" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Requested On</label>
                                    <div class="col-md-6">
                                        <input class="form-control" date-disabled="disabled(date, mode)" required name="Request" type="datetime" placeholder="Requested On" readonly ng-click="p3=true" is-open="p3" uib-datepicker-popup="dd-MM-yyyy" ng-model="Leave.Request" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Leave Description</label>
                                    <div class="col-md-6">
                                        <textarea rows="3" class="form-control" name="Description" ng-model="Leave.Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <div class="form-group ">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 80px; height: 82px;">
                                                    <img src="~/assets/global/no image.jpg" ng-hide="Leave.file!=null" />
                                                    <img ng-show="Leave.file!=null" ng-src="@String.Format("data:image/jpg;base64,{0}", "{{Leave.file}}")" id="imagess" alt="...">
                                                </div>
                                                <button ng-show="Leave.file!=null" class="btn btn-small">Remove</button>
                                            </div>
                                            <div style="float:right !important" class="col-md-4">
                                                <span class="btn red btn-outline btn-file">
                                                    <span class="fileinput-new"> Select image </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    @*<img ng-src="data:image/png;base64,{{img}}">*@
                                                    <input type="file" id="file" accept="image/x-png,image/gif,image/jpeg">
                                                </span>
                                                <a style="margin-top:10px !important" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-3">
                                <button class="btn blue-hoki sbold uppercase pull-right" ng-click="SaveLeave()">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- END LEAVE SAVE-->
            <!-- BEGIN TABLE-->
            <div ng-cloak ng-show="stdId!=null" style="padding:5px">
                <div class="table-container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                    <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                </div>
                                <div class="col-md-7  col-sm-8  col-xs-4">
                                    @*<label for="search" class="control-label" style="padding-top:5px">Items</label>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-1">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-5">
                            <div id="sample_3_filter" class="pull-right">
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-bordered">
                            <thead class="btn-primary">
                                <tr>
                                    <th>Type</th>
                                    <th>Form</th>
                                    <th>To</th>
                                    <th width="3%">Duration</th>
                                    <th>Attached</th>
                                    <th>Requested On</th>
                                    <th>Status</th>
                                    <th>Approved/Disapproved by</th>
                                    <th>Action Date & Time</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="LeaveList.length <= 0"><td colspan="10" style="text-align:center;"><i class="fa fa-refresh"></i> No data found!!</td></tr>
                                <tr @*dir-paginate="item in LeaveList| filter:q|itemsPerPage:pageSize" current-page="currentPage" style="background-color:{{item.ColorCode}}*@ ">
                                    @*<tr ng-show="AspNetusers.results.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>*@
                                <tr ng-repeat="item in LeaveList">
                                    <td>{{item.LeaveType}}</td>
                                    <td>{{item.FromDate|date:"dd/MM/yyyy"}}</td>
                                    <td>{{item.ToDate|date:"dd/MM/yyyy"}}</td>
                                    <td>{{item.Duration}}</td>
                                    <td><a ng-hide="item.File==null" class="btn btn-xs grey" href="@Url.Action("DownloadImage","Attendence")?LeaveId={{item.LeaveId}}" target="_blank">Download</a><span class="btn btn-xs red" ng-show="item.File==null">No Attached</span> </td>
                                    <td>{{item.RequestOn|date:"dd/MM/yyyy"}}</td>
                                    <td ng-if="item.Status=='Pending'"><span class="label label-sm label-warning">{{item.Status}}</span></td>
                                    <td ng-if="item.Status=='Approved'"><span class="label label-sm label-primary">{{item.Status}}</span></td>
                                    <td ng-if="item.Status=='Disapproved'"><span class="label label-sm label-danger">{{item.Status}}</span></td>
                                    <td>{{item.FullName}}</td>
                                    <td>{{item.UpdateDate |date:"dd/MM/yy h:mm a"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <dir-pagination-controls boundary-links="true" template-url="~/assets/angular/lib/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <!-- END TALE-->
            <!--Modal Area Start-->
            <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="form-horizontal" name="formCommonFeilds" ng-submit="Save()" novalidate>

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">{{modalTitle}}</h4>
                            </div>
                            <div class="modal-body" style="padding:13px">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Version.$invalid}">
                                                <label class="col-md-3 control-label">
                                                    Version :
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" ng-model="ReportConfig.VersionID" required name="Version" ng-options="ReportConfig.VersionId as ReportConfig.VersionName for ReportConfig in CommonFeilds.Version">
                                                        <option value="" selected="selected">Choose Option</option>
                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted && formCommonFeilds.Version.$error.required" class="help-block">Version Required</span>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.Class.$invalid}">
                                                <label class="col-md-3 control-label">
                                                    Class :
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" ng-model="ReportConfig.ClassId" name="Class" required ng-options="ReportConfig.ClassId as ReportConfig.ClassName for ReportConfig in CommonFeilds.ClassInfo | filter:{VersionId:ReportConfig.VersionID}:true">
                                                        <option value="" selected="selected">Choose Option</option>
                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted && formCommonFeilds.Class.$error.required" class="help-block">Class Required</span>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.ExamType.$invalid}">
                                                <label class="col-md-3 control-label">
                                                    Exam Type :
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" ng-model="ReportConfig.Type" name="ExamType" required>
                                                        <option value="" selected="selected">Choose Option</option>
                                                        <option value="S">Sub Exam</option>
                                                        <option value="M">Main Exam</option>
                                                        <option value="G">Grand</option>
                                                        <option value="GME">Grand Merit</option>
                                                        <option value="GF">Grand Fail</option>
                                                        <option value="MME">Main Merit</option>
                                                        <option value="MF">Main Fail</option>
                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted && formCommonFeilds.ExamType.$error.required" class="help-block"> Exam Type</span>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : submitted && formCommonFeilds.ReportName.$invalid}">
                                                <label class="col-md-3 control-label">
                                                    Report Name :
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" ng-model="ReportConfig.ReportId" name="ReportName" ng-options="ReportConfig.ReportId as ReportConfig.ReportName for ReportConfig in ReportNames | filter:{Type:ReportConfig.Type}:true" required>
                                                        <option value="" selected="selected">Choose Option</option>
                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted && formCommonFeilds.ReportName.$error.required" class="help-block">Report Name Required</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-11">
                                    <button ng-click="submitted=true" class="btn green">{{btnTitle}}</button>
                                    <a ng-click="Reset()" class="btn info">Reset</a>
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="Reset();submitted=false">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Modal Area End-->
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script type="text/javascript">
        OEMSApp.controller("ctrlStdLeave", ["$scope", "$http", "blockUI", "$window", "$filter",
                  function ($scope, $http, SweetAlert, blockUI, $window, $filter) {
                      init();
                      function init() {
                          initialize();
                          LoodTableData($scope.stdId);

                      }
                      function initialize() {
                          $scope.pageSizeArray = [];
                          $scope.pageSizeArray.push({ value: 5, text: 5 });
                          $scope.pageSizeArray.push({ value: 10, text: 10 });
                          $scope.pageSizeArray.push({ value: 20, text: 20 });
                          $scope.pageSizeArray.push({ value: 50, text: 50 });
                          $scope.currentPage = 1;
                          $scope.pageSize = 10;
                          $scope.Student = {};
                          $scope.Student.Value = null;
                          $scope.Student.Text = null;
                          $scope.Img = null;
                          $scope.LeaveList = [];
                          $scope.Leave = {};
                          $scope.LeaveType = [];
                          $scope.status = true;
                          $scope.stdId = @ViewBag.StdIID;
                          // Disable weekend selection
                          $scope.disabled = function (date, mode) {
                              return (mode === 'day' && (date.getDay() === 0 || date.getDay() === 6));
                          };
                          GetAllLeaveType();
                      };
                      $scope.CalculateDuratoin = function CalculateDuratoin() {
                          var From = new Date($scope.Leave.From);
                          var To = new Date($scope.Leave.To);
                          if (To < From) {
                              toastr["info"]("Please Select a Valid Date Range.");
                              $scope.Leave.To = null;
                              $scope.Leave.Duration = null;
                          } else {
                              $scope.Leave.Duration = (((((To - From) / 1000) / 60) / 60) / 24) + 1;
                          }
                      }
                      $scope.reset = function reset() {
                          $scope.Leave.From = null;
                          $scope.Leave.To = null;
                          $scope.Leave.Request = null;
                          $scope.Leave.StudentIId = null;
                          $scope.Leave.Description = null;
                          $scope.Leave.LeaveTypeId = null;
                          $scope.Leave.Duration = null;
                      }

                      //for Student Leave Apply Save...
                      $scope.SaveLeave = function SaveLeave() {
                          //alert($scope.Leave.LeaveType);
                          if ($scope.Leave.LeaveTypeId == null) {
                              toastr["info"]("Please Select a Leave Type.");
                          } else if ($scope.Leave.From == null) {
                              toastr["info"]("Please Select a From Date.");
                          } else if ($scope.Leave.To == null) {
                              toastr["info"]("Please Select a To Date.");
                          } else if ($scope.Leave.Duration == null) {
                              //toastr["info"]("Please Select a Leave Type.");
                          } else if ($scope.Leave.Request == null) {
                              toastr["info"]("Please Select a Request Date.");
                          } else if ($scope.Leave.Description == null) {
                              toastr["info"]("Description Field is Required.");
                          }
                          else {
                              $scope.Leave.From = new Date($scope.Leave.From);
                              $scope.Leave.To = new Date($scope.Leave.To);
                              $scope.Leave.Request = new Date($scope.Leave.Request);
                              $scope.Leave.StudentIId = @ViewBag.StdIID;
                              var files = $("#file").get(0).files;
                              if ($scope.Leave.StudentIId != null && $scope.status)
                                  $http({
                                      method: 'POST',
                                      url: baseUrl + 'PortalAttendance/SaveLeaveApply/',
                                      headers: { 'Content-Type': undefined },
                                      transformRequest: function (data) {
                                          var formData = new FormData();
                                          formData.append('ApplyLeave', JSON.stringify($scope.Leave));
                                          if (files.length > 0)
                                              formData.append("file", files[0]);
                                          return formData;
                                      },
                                      data: $scope.Leave
                                  }).then(function successCallback(response) {
                                      toastr["success"](response.data.message);
                                      LoodTableData($scope.stdId);
                                      $scope.reset();
                                      if (response.data.message != "Date Range is Not Valid.") {
                                          $scope.Leave.file = null;
                                          //$scope.Leave.file = null;
                                          //$scope.img = null;
                                          $("imagess").val('');
                                          //document.getElementById("imagess").value = '';
                                      }
                                  }, function errorCallback(response) {
                                      toastr["error"](response.data.message);
                                  });
                          }
                      };
                      // for Lood Table Data....
                      function LoodTableData(id) {
                          //$scope.Student = [];
                          $http({
                              method: 'POST',
                              url: baseUrl + 'PortalAttendance/GetStudentLeavesbyId/' + id
                          }).then(function successCallback(response) {
                              $scope.LeaveList = response.data.results;
                              console.log($scope.LeaveList);
                              //toastr["success"](response.data.message);
                          }, function errorCallback(response) {
                              toastr["error"](response.data.message);
                          });


                      };
                      function GetAllLeaveType() {
                          $http({
                              method: 'GET',
                              url: baseUrl + 'PortalAttendence/GetAllLeaveType'
                          }).then(function successCallback(response) {
                              $scope.LeaveType = response.data.results;
                              console.log(response.data);
                          }, function errorCallback(response) {
                              toastr["warning"](response.data.message);
                          });
                      };

                  }]);
    </script>
}






